@import url('https://fonts.googleapis.com/css?family=Montserrat');

.color-red {
  color: #d31313;
}

.color-green {
  color: #0ecd1c;
}

.color-blue {
  color: #093cce;
}

/* --- GLOBAL TWEAKS --- */
body {
  background: #fff url("../img/background.jpg") repeat;
  padding-top: 5px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
body.fluid {
  background: #0e1543 url("../img/background-bands.jpg") repeat-x fixed center top / cover;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain;
    background-attachment: scroll;
    background-repeat: repeat-y;
  }
}

.main-content .heading {
  line-height: 1;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

/* --- HEADER --- */
#header {
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
#header .banner .home-link {
  display: block;
  max-width: 620px;
  margin: 0 auto;
}
#header .banner .home-link .image {
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 46.77%;
}

#header .title {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1;
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 650px) {
  #header .title {
    font-size: 25px;
  }
}
@media screen and (max-width: 515px) {
  #header .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  #header .title {
    font-size: 18px;
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  #header .title {
    font-size: 15px;
    margin: 0px -15px;
  }
}

#header .subtitle {
  margin-top: -12px;
  margin-bottom: 12px;
}

#header .subtitle .info {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
#header .subtitle .info li {
  display: inline-block;
  line-height: 1.1;
}
#header .subtitle .info li.text+li.text:before {
  content: '| ';
}
#header .subtitle .info li.icon.first {
  padding-left: 6px;
}
#header .subtitle .icon {
  vertical-align: text-bottom;
}
#header .subtitle .icon img {
  max-width: 25px;
}
@media screen and (max-width: 992px) {
  #header .subtitle .info li.icon {
    display: inline-block;
  }
  #header .subtitle .info li.icon.first {
    padding-left: 0px;
  }
  #header .subtitle .info.contacts {
    margin-bottom: 10px;
    margin-top: 3px;
  }
}
@media screen and (max-width: 768px) {
  #header .subtitle .info {
    margin-top: 0;
    font-size: 15px;
  }
  #header .subtitle .info.primary {
    margin-bottom: 0;
  }
  #header .subtitle .info li.text {
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 460px) {
  #header .subtitle .info.primary li:first-child {
    display: block;
  }
  #header .subtitle .info li.text:first-child+li.text:before {
    content: '';
  }
}

/* --- NAVBAR --- */
#header .navigation {
  background-color: #000;
  margin-left: -10px;
  margin-right: -10px;
  border: none;
  color:#FFF;
}
#header .navigation.navbar {
  border-radius: 0px;
  min-height: 34px;
}
#header .navigation .nav a {
  font-size: 15px;
  color: #fff;
  padding: 3px 15px;
  line-height: 2;
}
#header .navigation .nav a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}
#header .navigation .nav a:focus {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}
#header .navbar-header .navbar-brand {
  font-size: 20px;
  color: #fff;
}
#header .navigation .navbar-toggle {
  background-color: #000;
}
#header .navigation .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  #header .navigation .nav a {
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 768px) {
  #header .navigation .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
}
@media screen and (max-width: 768px) {
  #header .navigation.navbar {
    border-radius: 0px;
    min-height: 35px;
  }
  #header .navigation .nav li {
    text-align: center;
  }
}

#footer {
  background-color: #fff;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 3px;
  text-align: center;
}
#footer::before {
  content: " ";
  display: block;
  width: 100%;
  height: 30px;
  background: transparent url("../img/footer/xnlfestival.png") repeat-x;
  background-size: contain;
  margin-bottom: 10px;
}
#footer img,
#footer a {
  display: inline-block;
}
#footer .comunepc {
  max-width: 180px;
}
#footer .leto {
  display: inline-block;
  max-width: 54px;
  margin-left: 10px;
}
#footer .crows {
  display: inline-block;
  max-width: 150px;
}
#footer .fondazione {
  display: inline-block;
  max-width: 110px;
}
#footer .sponsors .sp:first-child {
  max-width: 110px;
}
#footer .sponsors .sp {
  max-width: 64px;
}
#footer .sponsors .sp+.sp {
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  #footer .comunepc,
  #footer .sp:first-child {
    display: block;
    margin: 0 auto;
  }
}

/* --- NEWS --- */
.home-links .wrapper {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.home-links .link {
  line-height: 1;
  display: block;
  position: relative;
}
.home-links .image {
  border-radius: 20px;
}
.home-links .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 28px;
  background-color: rgba(0,0,0,0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.home-links .overlay .title {
  padding: 4px 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-links .overlay {
    font-size: 21px;
  }
}
.news-container .news {
  margin-top: 35px;
}
.news-container .news .title {
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.news-container .news .date {
  font-size: 13px;
  font-weight: bold;
}
.news-container .news .content {
  text-align: justify;
  margin-top: 5px;
}
.news-container .news a {
  color: #000;
  text-decoration: underline;
}
.news-container .news .content ul {
  padding-left: 15px;
}
.news-container .news .image {
  max-width: 164px;
  margin: 0 auto;
}
.news-container .news .image img {
  margin-top: 57px;
  border-radius: 20px;
}
.news-container .news .content h3 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 3px;
}
.news-container .news .link {
  display: inline-block;
  margin-top: 5px;
}
.news-container .news .bottom-link {
  display: inline-block;
  margin-top: 5px;
}
@media screen and (max-width: 767px){
  .news-container .news .image img {
    margin-top: 0px;
  }
  .news-container .news .image.summary img {
    margin-top: 20px;
  }
  .news-container .news .content {
    text-align: left;
  }
  .news-container .news .bottom-link {
    margin-top: 15px;
  }
}

/* --- FESTIVAL --- */
.festival-container .content {
  margin-top: 15px;
  text-align: justify;
}
.festival-container .content ul {
  text-align: left;
}
.festival-container h2 {
  font-size: 28px;
  text-align: center;
}
.festival-container h3 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 3px;
}
.festival-container a {
    color: #000;
    text-decoration: underline;
}
.festival-container .org {
  margin-top: 55px;
}
.festival-container .org .title {
  text-align: center;
}
.festival-container .org ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.festival-container .org .logos {
  margin-top: 15px;
}
.festival-container .org li {
  width: 105px;
  display: inline-block;
  margin-bottom: 15px;
}
.festival-container .org li img {
  margin: 0 auto;
}
.festival-container .photos {
  margin-top: 15px;
}
.festival-container .photos img {
  margin: 0 auto;
  border: 2px solid #000;
}
.festival-container .org .collaborations {
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
 .festival-container .photos img {
    margin-bottom: 15px;
  }
  .festival-container .photos .last img {
    margin-bottom: 0px;
  }
}

/* --- BANDS --- */
#lineup .band {
  margin-top: 20px;
  padding-top: 10px;
}
#lineup .image {
  background: #000 url("../img/bands/thumbs/empty.jpg") center top / cover;
  max-width: 204px;
  margin: 0 auto;
  border: 1px solid #000;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
  position: relative;
}
#lineup .image .thumb {
  padding-top: 100%;
}
#lineup .image .thumb img {
  position: absolute;
  top: 0;
}
#lineup .image .name {
  background: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px 5px;
}
@media screen and (max-width: 447px) {
  #lineup .band .image .name {
    font-size: 17px;
    padding: 8px 5px;
  }
}
@media screen and (max-width: 340px) {
  #lineup .band .image .name {
    padding-top: 2px;
    padding-bottom: 3px;
  }
}
@media screen and (max-width: 310px) {
  #lineup .band .image .name {
    font-size: 15px;
  }
}
#lineup .image .name.color-0 {
  color: #d31313;
}
#lineup .image .name.color-1 {
  color: #0ecd1c;
}
#lineup .image .name.color-2 {
  color: #093cce;
}

#lineup .image.link {
  -webkit-transition: all 0.25s ease 0s;
     -moz-transition: all 0.25s ease 0s;
       -o-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
}
#lineup .image.link:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.25s ease 0s;
     -moz-transition: all 0.25s ease 0s;
       -o-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
}
#lineup .more .heading {
  margin-top: 35px;
  margin-bottom: 15px;
}

.band-info.modal-content {
  background: #000 url("../img/background-bands.jpg") repeat-x fixed center top / cover;
}

.modal-container {
  color: #fff;
  font-weight: bold;
}
.modal-container .buttons {
  margin-top: 4px;
}
.modal-container .buttons span {
  margin-top: 10px;
  display: inline-block;
}
.modal-container .return {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
}
.modal-container .return.first {
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .modal-container .return {
    font-size: 16px;
  }
}
.modal-container .return a {
  padding: 2px 4px;
  border-radius: 2px;
}
.modal-container .color-0 .return a {
  border: 1px solid #d31313;
}
.modal-container .color-1 .return a {
  border: 1px solid #0ecd1c;
}
.modal-container .color-2 .return a{
  border: 1px solid #093cce;
}
.modal-container .color-0 .title,
.modal-container .color-0 .return a {
  color: #d31313;
}
.modal-container .color-1 .title,
.modal-container .color-1 .return a {
  color: #0ecd1c;
}
.modal-container .color-2 .title,
.modal-container .color-2 .return a {
  color: #093cce;
}
.modal-container .color-0 .return a:hover {
  color: #000;
  background-color: #d31313;
  text-decoration: none;
}
.modal-container .color-1 .return a:hover {
  color: #000;
  background-color: #0ecd1c;
  text-decoration: none;
}
.modal-container .color-2 .return a:hover {
  color: #000;
  background-color: #093cce;
  text-decoration: none;
}
.modal-container .banner {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
.modal-container .banner img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
@media screen and (max-width: 992px) {
  .modal-container .banner img {
    border-radius: 0px;
  }
}
.modal-container .content {
  padding: 0 30px;
}
.modal-container .content .info {
  font-size: 14px;
}
.modal-container .content .info span {
  color: #fff;
}
.modal-container .title {
  font-weight: bold;
  margin-top: 10px;
}
.modal-container .name {
  font-size: 35px;
}
.modal-container .link a {
  color: #c1c0c0;
}
.modal-container .music {
  font-size: 28px;
}
.modal-container .embed {
  max-width: 560px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.modal-container .logo {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: right;
}
.modal-container .logo img {
  max-width: 202px;
}
.modal-container .text {
  font-weight: normal;
}
.modal-container .text a {
  color: #c1c0c0;
  text-decoration: underline;
}

.extra-container {
  text-align: justify;
  min-height: 500px;
}
.extra-container .intro {
  margin-top: 15px;
}
.extra-container .exhibitor {
  margin-top: 32px;
}
.extra-container .exhibitor .title {
  color: #fff;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
  padding: 3px 20px;
  margin-bottom: 13px;
}
.extra-container .exhibitor .description ol,
.extra-container .exhibitor .description ul {
  margin-top: -5px;
}
.extra-container .exhibitor .description h2 {
  font-size: 28px;
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 3px;
}
.extra-container .exhibitor .description a {
  color: #000;
  text-decoration: underline;
}
.extra-container .exhibitor .banner {
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .extra-container .exhibitor .title {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.press-container .articles {
  margin-bottom: 50px;
}
.press-container .article {
  margin-top: 35px;
}
.press-container .article .image {
  max-width: 500px;
  max-height: 300px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #000;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
}

.agenda-container {
  min-height: 500px;
}
.agenda-container .day {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}
.agenda-container .day span {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #000;
  display: inline-block;
}
.agenda-container .day.color-0 {
  color: #d31313;
}
.agenda-container .day.color-1 {
  color: #0ecd1c;
}
.agenda-container .day.color-2 {
  color: #093cce;
}
.agenda-container .map {
  margin: 0 auto;
}
.agenda-container .map .day {
  margin-bottom: 40px;
}
.agenda-container .map img {
  border: 7px solid #000;
  border-radius: 4px;
}
.agenda-container .schedule {
  table-layout: fixed;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 30px;
  border-spacing: 5px;
  border-collapse: separate;
}
.agenda-container .schedule th,
.agenda-container .schedule td {
  text-align: center;
  line-height: 1.1;
  color: #fff;
  height: 30px;
}
.agenda-container .schedule th {
  background-color: #000;
  font-weight: normal;
}
.agenda-container .schedule thead th {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding-left: 5px;
  padding-right: 5px;
}
.agenda-container .schedule tbody th {
  text-transform: none;
}
.agenda-container .schedule th.time {
  width: 60px;
}
.agenda-container .schedule th.stage:nth-child(odd) {
  background-color: #000;
}
.agenda-container .schedule th.stage:nth-child(even) {
  background-color: #d31313;
}
.agenda-container .schedule tr:nth-child(odd) {
  background-color: rgba(168, 197, 205, 0.8);
}
.agenda-container .schedule tr:nth-child(even) {
  background-color: rgba(150, 179, 187, 0.8);
}
.agenda-container .schedule td {
  color: #000;
  padding: 0 14px;
}
.agenda-container .schedule td.band.link a {
  color: #000;
}
.agenda-container .schedule td.book,
.agenda-container .schedule td.book.link a {
  color: #318981;
}
.agenda-container .schedule td.multilink span.vs {
  color: #318981;
}
.agenda-container .schedule td.multilink span.band:hover,
.agenda-container .schedule tfoot .after td.band:hover {
  cursor: pointer;
  text-decoration: underline;
}
.agenda-container .schedule td.multilink a {
  color: #000;
}
.agenda-container .schedule tfoot .after {
  background-color: #000;
  text-transform: none;
}
.agenda-container .schedule tfoot .after.color-0 td,
.agenda-container .schedule tfoot .after.color-0 td.link a {
  color: #d31313;
}
.agenda-container .schedule tfoot .after.color-1 td,
.agenda-container .schedule tfoot .after.color-1 td.link a {
  color: #0ecd1c;
}
.agenda-container .schedule tfoot .after.color-2 td,
.agenda-container .schedule tfoot .after.color-2 td.link a {
  color: #093cce;
}
.agenda-container .return.link {
  margin-top: 40px;
  text-align: center;
}
.agenda-container .return.link a {
  font-size: 30px;
  color: #000;
  padding: 3px 5px;
  border: 3px solid #000;
  border-radius: 3px;
}
.agenda-container .return.link a:hover {
  text-decoration: none;
  background-color: #000;
  color: #d31313;
}
@media screen and (min-width: 992px) {
  .agenda-container .schedule td.band.link:hover,
  .agenda-container .schedule td.book.link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
@media screen and (max-width: 992px) {
  .agenda-container .schedule th.time {
    width: 70px;
  }
  .agenda-container .schedule th,
  .agenda-container .schedule td {
    height: 43px;
  }
  .agenda-container .schedule td {
    padding: 0 10px;
  }
}
@media screen and (min-width: 677px) {
  .hidden-gt-676px {
    display: none;
  }
}
@media screen and (max-width: 676px) {
  .hidden-lt-676px {
    display: none;
  }
  .agenda-container .schedule th.time {
    width: 100px;
  }
  .agenda-container .schedule th,
  .agenda-container .schedule td {
    height: 30px;
  }
  .agenda-container .schedule th.stage.odd {
    background-color: #000;
  }
  .agenda-container .schedule th.stage.even {
    background-color: #d31313;
  }
  .agenda-container .map .day span {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  .agenda-container .schedule tfoot .after td.band  {
    padding: 0 65px;
  }
}

.photos-container {
  min-height: 500px;
}
.photos-container .intro {
  text-align: center;
  margin-top: 15px;
}
.photos-container .entry {
  margin-top: 30px;
}
.photos-container .entry .title {
  font-size: 20px;
  font-weight: bold
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  padding: 3px 20px;
  margin-bottom: 13px;
}
.photos-container .entry .galleries {
  margin-top: 25px;
}
.photos-container .entry .galleries a {
  color: #000;
}
.photos-container .entry .gallery {
  padding: 10px 30px;
}
.photos-container .entry .image {
  max-width: 250px;
  margin: 0 auto;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
  background: #dcddd5 url("../img/galleries/base.jpg") scroll center top / cover;
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
     -moz-transition: all 0.25s ease 0s;
       -o-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .photos-container .entry .image {
    max-width: 186px;
  }
}
.photos-container .entry .image .thumb {
  padding-top: 121%;
}
.photos-container .entry .image .thumb img {
  position: absolute;
  top: 0;
  padding-top: 6.8%;
  padding-left: 6.2%;
  padding-right: 6.2%;
}
.photos-container .entry .image .date {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 12px;
}
.photos-container .entry .image:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.25s ease 0s;
     -moz-transition: all 0.25s ease 0s;
       -o-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
}
.photos-container .entry .image.rot-0 {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.photos-container .entry .image.rot-1 {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.photos-container .entry .image.rot-0:hover,
.photos-container .entry .image.rot-1:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
